* {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #222;
  background-color: #fafafa;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
}

button .add-icon {
  display: inline-block;
  margin: 0 10px 0 5px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 100px;
}

button .button-label {
  display: inline-block;
}

button.ghost {
  border: 1px solid #e3e3e3;
  background: none;
}

button.solid {
  border: none;
  background-color: #222;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button#btn-createList:hover {
  background-color: rgba(34, 34, 34, 0.9);
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type="text"] {
  width: 90%;
  margin-top: 5px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #e3e3e3;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 500px;
  padding: 0 10px;
}

header {
  text-align: center;
}

#content {
  display: -ms-grid;
  display: grid;
}

#board {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  margin: 30px 0;
}

/** CHECKLISTS **/
.checklist {
  border: none;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-width: 250px;
  max-width: 500px;
}

.checklist .menu {
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
}

.checklist .menu:hover {
  background-color: #e3e3e3;
  border-radius: 5px;
}

.checklist[data-status="showTasks"] .tasks {
  display: block;
}

.checklist[data-status="showTasks"] .menu-content {
  display: none;
}

.checklist[data-status="showTasks"] .color-picker {
  display: none;
}

.checklist[data-status="showTasks"] .menu {
  background-image: url("/icons/rounded-menu.svg");
}

.checklist[data-status="showMenu"] .tasks {
  display: none;
}

.checklist[data-status="showMenu"] .menu-content {
  display: block;
}

.checklist[data-status="showMenu"] .color-picker {
  display: none;
}

.checklist[data-status="showMenu"] .task-adder {
  display: none;
}

.checklist[data-status="showMenu"] .menu {
  background-image: url("/icons/close.svg");
}

.checklist[data-status="showColorPicker"] .tasks {
  display: none;
}

.checklist[data-status="showColorPicker"] .menu-content {
  display: none;
}

.checklist[data-status="showColorPicker"] .color-picker {
  display: block;
}

.checklist[data-status="showColorPicker"] .task-adder {
  display: none;
}

.checklist[data-status="showColorPicker"] .menu {
  background-image: url("/icons/arrow-back.svg");
}

.checklist .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checklist .header div {
  display: inline-block;
  outline: none;
}

.checklist .tasks .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.checklist .tasks .row input[type="checkbox"] {
  display: none;
  outline: 0;
  margin: 0;
  float: left;
}

.checklist .tasks .row input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.checklist .tasks .row input[type="checkbox"]:checked + label:before {
  background-image: url("/icons/done.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: inherit;
  transition: inherit;
}

.checklist .tasks .row .task-name {
  cursor: pointer;
  line-height: 1.35em;
}

.checklist .tasks .row .task-name:before {
  content: "";
  height: 18px;
  width: 18px;
  display: block;
  margin-right: 5px;
  float: left;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

.checklist .tasks .row:hover .task-name:before {
  background: #e3e3e3;
}

.checklist .tasks .row .delete-task {
  background-image: url("/icons/delete.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checklist .menu-content a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8em;
  color: #333;
  padding-top: 15px;
}

.checklist .menu-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.checklist .menu-content a:not(:last-of-type) {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 15px;
}

.checklist .menu-content a:last-of-type {
  padding-top: 15px;
  padding-bottom: 15px;
}

.checklist .color-picker .color-box {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .checklist .color-picker .color-box {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .checklist .color-picker .color-box {
    width: 59px;
    height: 50px;
  }
}

@media screen and (min-width: 426px) {
  .checklist .color-picker .color-box {
    width: 73px;
    height: 50px;
  }
}

.checklist .color-picker .color-box.active {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.checklist .color-picker .color-box.active::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("/icons/done.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(90%);
          filter: invert(90%);
}

.checklist .color-picker .color-box:hover {
  cursor: pointer;
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.checklist .color-picker .color-box.bg-white:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.checklist .color-picker .color-box.bg-dark:hover {
  -webkit-filter: brightness(185%);
          filter: brightness(185%);
}

.task-name {
  display: inline-block;
}

.smallTitle {
  margin: 0 15px 5px 0;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid;
}

/** UTILITIES **/
.displayNone {
  display: none;
}

.show {
  display: block;
}

.bg-white {
  background-color: #ffffff;
  color: #212121;
}

.bg-red {
  background-color: #F44336;
  color: #fff;
}

.bg-red .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-red .menu-content a {
  color: #e3e3e3;
}

.bg-pink {
  background-color: #E91E63;
  color: #fff;
}

.bg-pink .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-pink .menu-content a {
  color: #e3e3e3;
}

.bg-purple {
  background-color: #9C27B0;
  color: #fff;
}

.bg-purple .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-purple .menu-content a {
  color: #e3e3e3;
}

.bg-blue {
  background-color: #2196F3;
  color: #fff;
}

.bg-blue .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-blue .menu-content a {
  color: #e3e3e3;
}

.bg-cyan {
  background-color: #00BCD4;
  color: #fff;
}

.bg-cyan .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-cyan .menu-content a {
  color: #e3e3e3;
}

.bg-green {
  background-color: #8BC34A;
  color: #212121;
}

.bg-green .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-green .menu-content a {
  color: #e3e3e3;
}

.bg-yellow {
  background-color: #FFEB3B;
  color: #212121;
}

.bg-orange {
  background-color: #FF5722;
  color: #fff;
}

.bg-orange .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-orange .menu-content a {
  color: #e3e3e3;
}

.bg-bley {
  background-color: #607D8B;
  color: #fff;
}

.bg-bley .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-bley .menu-content a {
  color: #e3e3e3;
}

.bg-grey {
  background-color: #9E9E9E;
  color: #212121;
}

.bg-grey .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-grey .menu-content a {
  color: #e3e3e3;
}

.bg-dark {
  background-color: #212121;
  color: #fff;
}

.bg-dark .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bg-dark .menu-content a {
  color: #e3e3e3;
}
/*# sourceMappingURL=main.css.map */