$primary-color: #222;
$primary-color-lighter: #333;
$light-color: #e3e3e3;

$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$blue: #2196F3;
$cyan: #00BCD4;
$green: #8BC34A;
$yellow: #FFEB3B;
$orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$dark: #212121;
$white: #ffffff;

$font-stack: 'Roboto', 'Arial', sans-serif;

$box-shadow-heavy: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-light: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

@mixin invert {
    filter: invert(100%);
} 

body {
    font-family: $font-stack;
    color: $primary-color;
}

.container {
    margin: 0 auto;
    width: 500px;
}

#board {
    display: grid;
    gap: 15px;
}

/** CHECKLISTS **/
.checklist {
    border: none;
    padding: 15px;
    border-radius: 10px;
    box-shadow: $box-shadow-light;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            display: inline-block;
        }
    }

    .menu-content {
        a {
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            font-size: 0.8em;
            color: $primary-color-lighter;
            padding-top: 15px;

            &:not(:last-of-type) {
                border-bottom: 1px solid $light-color;
                padding-bottom: 15px;
            }

            &:last-of-type {
                padding-top: 15px;
            }
        }
    }

    .color-picker {
        .color-box {
            display: inline-block;
            width: 73px;
            height: 50px;
            border-radius: 5px;
            box-shadow: $box-shadow-heavy;

            &.active {
                filter: brightness(60%);

                &::after {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    background-image: url("/icons/done.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    filter: invert(90%);
                }
            }
            
            &:hover {
                cursor: pointer;
                filter: brightness(125%);
            }

            &.bg-white:hover {
                filter: brightness(85%);
            }

            &.bg-dark:hover {
                filter: brightness(185%);
            }
        }
    }
}

.task-name {
    display: inline-block;
}

.smallTitle {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 5px 0;
}

/** CONTROLS **/
button {
    margin: 15px 0;
}
#btn-createList {
    border: 1px solid $primary-color-lighter;
    background: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
}

/** UTILITIES **/
.displayNone {
    display: none;
}

.show {
    display: block;
}

.bg-white {
    background-color: $white;
    color: $dark;
}

.bg-red {
    background-color: $red;
    color: #fff;

    .invert { @include invert() };
}
 
.bg-pink {
    background-color: $pink;
    color: #fff;

    .invert { @include invert() };
}
 
.bg-purple {
    background-color: $purple;
    color: #fff;

    .invert { @include invert() };
}

.bg-blue {
    background-color: $blue;
    color: #fff;

    .invert { @include invert() };
}

.bg-cyan {
    background-color: $cyan;
    color: #fff;

    .invert { @include invert() };
}
 
.bg-green {
    background-color: $green;
    color: $dark;
}

.bg-yellow {
    background-color: $yellow;
    color: $dark;
}
 
.bg-orange {
    background-color: $orange;
    color: $dark;
}

.bg-brown {
    background-color: $brown;
    color: #fff;

    .invert { @include invert() };
}

.bg-grey {
    background-color: $grey;
    color: $dark;
}

.bg-dark {
    background-color: $dark;
    color: #fff;

    .invert { @include invert() };
}
 